.top-buffer{
    margin-top:20px;
}

.movietable tr td:nth-child(2){
    width: 150px;
}

.movietable tr:nth-child(1) td{
    border-top: none;
}
a.nodecoration{
    text-decoration:none;
}
.actors-in-movie-title{
    text-transform:uppercase;
    font-weight:bold;
    text-align:center;
}
table{
    width:100%;
    margin:0 auto;
}
.stacked-actors tr{
    border-bottom:1px solid #ccc;
}
table td{
    padding:1rem 2rem;
}
.error{
    color:#D9534F;
    font-weight:bold;
}
.form-signup,
.form-signin{
    width:400px;
    margin:0 auto;
}
.input-block-level{
    display:block;
    width:100%;
    margin-bottom:1rem;
}
.alert {
    background-color: #FFF7F4;
    border: 1px solid #cd0a0a;
    border-radius:4px;
}
.alert-icon{
    width:16px;
    height:16px;
    background:url(../images/ui-icons.png) 0 -144px;
    display:inline-block;
    margin-right:5px;
    vertical-align:-4px;
}
.info-message{
    background-color:#FDFBF4;
    border: 1px solid darkgoldenrod;
    border-radius:4px;
    padding:1.5rem;
}
.final-image-data,
.result-datauri{
    visibility:hidden;
}
.movie-poster{
    max-width:50%;
}
.id-hide{
    visibility:hidden;
}