<div class="form-group">
    <label for="title" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.name" class="form-control" id="title" name="title" placeholder="Movie Title Here"/>
    </div>
</div>
<div class="form-group">
    <label for="year" class="col-sm-2 control-label">Release Year</label>
    <div class="col-sm-10">
        <input type="text" ng-model="movie.release_year" class="form-control" id="year" name="year" placeholder="When was the movie released?" />
    </div>
</div>
<div class="form-group" ng-controller="ImageCtrl">
    <p ng-hide="imageCropResult||imageCropStep!=1">Movie Poster Image &rarr;
        <a ng-click="showImageCropper=true;imageCropStep=1">Choose</a>
    </p>
    <p ng-show="imageCropResult">Need to start over? &rarr;
        <a ng-click="imageCropResult=null;imageCropStep=1">Reset</a>
    </p>
    <image-crop
            data-width="214"
            data-height="317"
            data-shape="rectangle"
            data-step="imageCropStep"
            data-result="imageCropResult"
            ng-show="showImageCropper"
            ></image-crop>
    <hr>
    <h2 ng-show="imageCropResult">Movie Image</h2>
    <img ng-hide="imageCropResult" class="movie-poster" ng-src="{{ movie.image }}" />
    <div ng-show="imageCropResult">
        <img ng-show="imageCropResult" ng-src="{{ imageCropResult }}" alt="The Cropped Image">
        <textarea class="result-datauri">{{ imageCropResult }}</textarea>
    </div>
</div>
<textarea class="final-image-data" ng-model="movie.image"></textarea>
<div class="form-group my-controller" ng-controller="PaginationCtrl">
    <table class="stacked-actors">
        <tbody>
            <tr>
                <td colspan="2"><h3>Available Actors page: {{ currentPage }}</h3></td>
                <td>
                    <label for="search">Search:</label>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </td>
                <td colspan="2">
                    <label for="page-size">items per page:</label>
                    <input type="number" id="page-size" min="1" max="100" class="form-control" ng-model="pageSize">
                </td>
            </tr>
            <tr dir-paginate="actor in movie.actorlist | filter:q | itemsPerPage: pageSize" current-page="currentPage" ng-model="movie.actorlist">
                <td class="id-hide">{{actor.id}}</td>
                <td><img ng-src="{{actor.image}}" /></td>
                <td>{{actor.name}}</td>
                <td>
                    <button ng-click="addCast(actor, movie.actorlist, $index)" class="btn btn-info btn-block">Add to Cast</button>
                </td>
                <td>
                    <a class="btn btn-danger" ng-click="deleteActor(movie.actorlist, currentPage, pageSize, $index, actor.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-controller="PaginationControlsCtrl" class="other-controller">
        <dir-pagination-controls boundary-links="true"
                                 on-page-change="pageChangeHandler(newPageNumber)"
                                 template-url="js/templates/dirPagination.tpl.html">
        </dir-pagination-controls>
    </div>
    <h3>Cast Actors</h3>
    <table class="stacked-actors">
        <tbody>
        <tr ng-repeat="actor in movie.cast">
            <td class="id-hide">{{actor.id}}</td>
            <td><img ng-src="{{ actor.image }}" /></td>
            <td>{{actor.name}}</td>
            <td>
                <a class="btn btn-danger" ng-click="removeCast(actor, movie.cast, $index)">Remove From Cast</a>
            </td>
        </tr>
        </tbody>
        </table>
    <h3>Add New Actor to Database</h3>
    <table>
        <tbody>
        <tr>
            <td>
                <input id="actorname" name="actorname" ng-model='movie.actorname' type='text' placeholder='Actor:' />
            </td>
            <td><div class="form-group" ng-controller="ImageCtrl">
                <p ng-hide="actorImageCropResult||actorImageCropStep!=1">Actor Image &rarr;
                    <a ng-click="showActorImageCropper=true;actorImageCropStep=1">Choose</a>
                </p>
                <p ng-show="actorImageCropResult">Need to start over? &rarr;
                    <a ng-click="actorImageCropResult=null;actorImageCropStep=1">Reset</a>
                </p>
                <image-crop
                        data-width="105"
                        data-height="105"
                        data-shape="rectangle"
                        data-step="actorImageCropStep"
                        data-result="actorImageCropResult"
                        ng-show="showActorImageCropper"
                        ></image-crop>
                <hr>
                <h2 ng-show="actorImageCropResult">Actor Image</h2>
                <div ng-show="actorImageCropResult"><img ng-src="{{ actorImageCropResult }}" alt="The Cropped Image">
                    <textarea class="result-datauri">{{ actorImageCropResult }}</textarea>
                </div>
            </div>
                <textarea class="final-image-data" ng-model="movie.actorimage"></textarea></td>
            <td>
                <button ng-click='addActor()' class="btn btn-info btn-block">Add New Actor</button>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p class="error" ng-show="errors['name'][0]">{{ errors['name'][0] }}</p>
                <p class="error" ng-show="errors['release_year'][0]">{{ errors['release_year'][0] }}</p>
                <!--<p class="error" ng-show="errors['actorname'][0]">{{ errors['actorname'][0] }}</p>-->
            </td>
        </tr>
        </tbody>
    </table>

</div>