<div id="login" class="col-md-4 col-md-offset-4">
    <div id="login-form">
        <h4>Login</h4>
        <form><!--username-->
            <div class="form-group"><input id="email" name="email" type="email" /></div>
            <!--password-->
            <div class="form-group"><input id="password" name="password" type="password" /></div>
            <!--submit-->
            <div class="form-group"><input class="btn btn-large btn-primary btn-block" type="submit" value="Login" /></div>
        </form></div>
</div>