<table class="table movietable">
    <tr>
        <td><h3>Details for {{movie.name}}</h3></td>
        <td class="id-hide">{{movie.id}}</td>
    </tr>
    <tr>
        <td>Movie Title</td>
        <td>{{movie.name}}</td>
    </tr>
    <tr>
        <td>Release Year</td>
        <td>{{movie.release_year}}</td>
    </tr>
    <tr>
        <td>Movie Poster</td>
        <td><img ng-src="{{ movie.image }}" /></td>
    </tr>
    <tr>
        <td colspan="2" class="actors-in-movie-title">Actors</td>
    </tr>
    <tr ng-repeat="actor in movie.cast">
        <!--<td class="id-hide">-->
            <!--{{ actor.id }}-->
        <!--</td>-->
        <td>
            <img ng-src="{{ actor.image }}" />
        </td>
        <td>{{ actor.name }}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editMovie({id:movie.id})">Edit</a>
    <a class="btn btn-danger"  ng-click="deleteMovie(movie.id)">Delete</a>
</div>