<!--<form class="form-horizontal" role="form" ng-submit="addMovie()">-->
<form class="form-horizontal" role="form">
    <div ng-include="'partials/_form.html'"></div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input ng-click='addMovie()' type="submit" class="btn btn-primary" value="Save Movie" />
        </div>
    </div>
</form>