<div ng-controller="PaginationCtrl" class="my-controller">
<a ui-sref="newMovie" class="btn-primary btn-lg nodecoration">Add New Movie</a>
<table class="table movietable">
    <tr>
        <td><h3>All Movies Page: {{ currentPage }}</h3></td>
        <td>
            <label for="search">Search:</label>
            <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
        </td>
        <td><label for="page-size">items per page:</label>
            <input type="number" id="page-size" min="1" max="100" class="form-control" ng-model="pageSize">
        </td>
    </tr>
    <tr dir-paginate="movie in movies | filter:q | itemsPerPage: pageSize" current-page="currentPage">
        <td>{{ movie.name }}</td>
        <td><img class="movie-poster" ng-src="{{ movie.image }}" /></td>
        <td>
            <a class="btn btn-primary" ui-sref="viewMovie({id:movie.id})">View</a>
        </td>
    </tr>
</table>
</div>

<div ng-controller="PaginationControlsCtrl" class="other-controller">
    <dir-pagination-controls boundary-links="true"
                             on-page-change="pageChangeHandler(newPageNumber)"
                             template-url="js/templates/dirPagination.tpl.html">
    </dir-pagination-controls>
</div>